* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #202024;
  color: #fff;
  max-width: 100%;
  height: auto;
}

.small-text {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 10%;
  // padding: 30px 0 20px;
  color: rgba(255, 255, 255, 0.6);
}
.grey-line {
  height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.question-box {
  margin: 0 auto;
  padding: 0 20px;

  max-width: 500px;
  font-size: 25px;
  line-height: 35px;

  text-align: center;

  color: #f6c866;
}

.golden-btn {
  width: 310.75px;
  height: 69.44px;
  background-image: linear-gradient(to right, #f2994a 0%, #fe5 51%, #f2994a 100%);
  background-size: 200% auto;
  color: #ffffff;
  border-radius: 50px;
  transition: 0.5s;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  display: block;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  animation: 2s infinite bgcolorchange;
  animation-direction: alternate;
  &:focus {
    outline: none;
  }
}

.golden-btn:nth-child(4n + 1) {
  animation-delay: 0.5s;
}
.golden-btn:nth-child(4n + 2) {
  animation-delay: 1s;
}
.golden-btn:nth-child(4n + 3) {
  animation-delay: 1.5s;
}
.golden-text {
  font-weight: 500;
  font-family: Montserrat;
  color: #f6c866;
}
@keyframes bgcolorchange {
  100% {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}

@media screen and (max-width: 600px) {
  .small-text {
    font-size: 12px;
    line-height: 14px;
  }
  .question-box {
    font-size: 16px;
    line-height: 25px;
    width: 100%;
    //   padding: 10%;
  }
  .golden-btn {
    width: 179px;
    height: 40px;
  }
  .golden-text {
    font-size: 20px;
    line-height: 25px;
  }
}
